apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
---
# This will install NGINX Ingress Controller
# It will create a LoadBalancer that handles HTTPS termination
apiVersion: v1
kind: ConfigMap
metadata:
  name: tcp-services
  namespace: ingress-nginx
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: udp-services
  namespace: ingress-nginx
